@font-face {
  font-family: roboto;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Roboto-Black.ttf");
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: roboto, "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: 500;
  background-color: #fff;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 14px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #d1d5db;
}

.call-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider {
  animation: slider 12s infinite linear;
}

@keyframes slider {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/*
 -- loader -- 
*/
.wrapper-loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top: 4px solid white;
  border-left: 4px solid white;
  animation: loader 0.5s linear infinite;
}
@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}

/*
 -- Burger Button --
*/

.hamburger {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  display: flex;
  background: #fafafa;
  align-items: center;
  position: relative;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #333;
  position: absolute;
  pointer-events: none;
  transition: opacity 0.3s 0.15s ease-out;
}

.hamburger span:nth-child(1),
.hamburger span:nth-child(3) {
  transition: transform 0.3s ease-out;
}

.hamburger span:nth-child(1) {
  transform: translateY(7px);
}

.hamburger span:nth-child(3) {
  transform: translateY(-7px);
}

.hamburger.open span:nth-child(1) {
  transform: translate(0) rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  transition: opacity 0s ease-out;
}

.hamburger.open span:nth-child(3) {
  transform: translate(0) rotate(-135deg);
}
